.flex-all-center{    /* Flex box */
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 3px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}
.my-2{
    margin: 5px 0;
}
.text-center{
    text-align: center;
}
